@font-face {
    font-family: 'ThisCafe';
    src: url('assets/ThisCafe.ttf');
}

@font-face {
    font-family: 'SalisburyBold';
    src: url('assets/SalisburyBold.ttf');
}

* {
    padding: 0;
    margin: 0;
    font-family: "Lexend", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
}

:root {
    --pale-gray: #e9ebed;
    --water-blue: #156689;
    --leaf-green: #518249;
    --dark-gray: #3c4142;
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

#leftContainer {
    height: 100vh;
    width: 40%;
    background-image: url("assets/jungle_lake_cropped.png");
    position: relative;
    display: flex;
    flex-direction: column;
}

#overlayContainer {
    position: absolute;
    width: 100%;
    margin-top: 25vh;
}

#overlay {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

img {
    height: 50px;
    margin-bottom: 20px;
}

h2 {
    color: white;
    font-family: 'SalisburyBold', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 4.5rem;
    letter-spacing: 2px;
}

#rightContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e9e9ed;
    padding: 40px;
    gap: 40px;
    width: 60%;
}

h3 {
    font-size: 1.5rem;
}

#formWhiteBg {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 0 -40px;
    padding: 20px 40px;
    gap: 20px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.formPair {
    display: flex;
    flex-direction: row;
    gap: 80px;
}

.labelInput {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 250px;
}

label {
    font-size: 0.85rem;
    color: var(--dark-gray);
}

input {
    height: 10px;
    padding: 10px;
    border: 1px solid var(--pale-gray);
    border-radius: 5px;
}

input:focus {
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--water-blue);
}

button {
    width: 180px;
    height: 40px;
    background-color: var(--water-blue);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
}

a {
    color: var(--water-blue);
    text-decoration: none;
    font-weight: 700;
}

@media screen and (max-width: 1000px) {
    :root {
        font-size: 12px;
    }

    #overlay {
        gap: 10px;
    }

    h2 {
        font-size: 4rem;
    }

    img {
        height: 40px;
    }

    #rightContainer {
        padding: 20px;
        gap: 20px;
    }

    #formWhiteBg {
        margin: 0 -20px;
        padding: 10px 20px;
    }

    .formPair {
        gap: 20px;
    }

    .labelInput {
        width: 200px
    }
}

@media screen and (max-width: 750px) {
    :root {
        font-size: 16px;
    }

    #leftContainer {
        display: none;
    }

    #rightContainer {
        width: 100%;
        padding: 20px 80px;
        gap: 20px;
    }

    #formWhiteBg {
        margin: 0 -80px;
        padding: 40px 80px;
    }

    .formPair {
        gap: 40px;
    }
}

@media screen and (max-width: 600px) {
    :root {
        font-size: 14px;
    }

    h3 {
        font-size: 1.2rem;
    }

    #leftContainer {
        display: none;
    }

    #rightContainer {
        width: 100%;
        padding: 20px 40px;
        gap: 20px;
    }

    #formWhiteBg {
        margin: 0 -40px;
        padding: 20px 40px;
    }

    .labelInput{
        width: 100%;
    }

    .formPair {
        gap: 20px;
        flex-direction: column;
    }
}