<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>message board</title>
</head>
<body>
    <%- include('navbar', {links: links}) %>
    <% messages.forEach((message) => { %>
        <p><%= message.text %></p>
        <p>- <%= message.user %> on <%= message.added %></p>
    <% }); %>
</body>
</html>