<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>message board</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include('header') %>
    <main>
        <a class="button" href="/new">add a message</a>
        <div id="content">
            <% messages.forEach((message) => { %>
                <% if (message.pinned) { %>
                <%- include('card', { message: message, display: false }) %>
                <% } %>
            <% }); %>
            <% for (let i = messages.length - 1; i >= 0; i --) { %>
                <% if (!messages[i].pinned) { %>
                    <%- include('card', { message: messages[i], display: false }) %>
                <% } %>
            <% } %>
        </div>
    </main>
    <%- include('footer') %>
</body>
</html>