:root {
    --calculator-bg: rgb(239, 203, 248);
    --body-bg: rgb(93, 55, 105);
    --row-0: rgb(246, 180, 217);
    --row-1: rgb(251, 251, 177);
    --row-2: rgb(183, 243, 183);
    --row-3: rgb(238, 193, 253);
    --row-4: rgb(181, 203, 255);
    --ac-button: rgb(248, 118, 118);

    --bs-0: rgb(228, 129, 185);
    --bs-1: rgb(251, 188, 100);
    --bs-2: rgb(108, 216, 108);
    --bs-3: rgb(195, 137, 215);
    --bs-4: rgb(117, 152, 233);
    --bs-ac: rgb(225, 55, 55);
    --bs-calculator: rgb(169, 101, 187);

    --text-0: rgb(168, 0, 95);
    --text-1: rgb(154, 103, 35);
    --text-2: rgb(15, 120, 15);
    --text-3: rgb(106, 39, 129);
    --text-4: rgb(21, 70, 185);
    --text-ac: rgb(126, 0, 0);
}

* {
    padding: 0;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    color: var(--calculator-bg);
}

#body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: var(--body-bg);
}

#calculator {
    background-color: var(--calculator-bg);
    height: 70%;
    aspect-ratio: 0.60;
    display: flex;
    flex-direction: column;
    padding: 3vh;
    justify-content: center;
    gap: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 0px var(--bs-calculator);
}

#display {
    width: 94%;
    height: 18%;
    background-color: white;
    border-radius: 20px;
    box-shadow: -3px -3px 0px var(--bs-calculator);
    display: flex;
    flex-direction: column;
    padding: 3%;
    color: rgb(45, 24, 24);
    font-size: 1.5rem;
}

#mainDisplay {
    height: 50%;
    text-align: right;
}

#history {
    height: 50%;
    text-align: right;
}

.buttonDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
}

.buttonRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.calculatorButton {
    width: 22.5%;
    aspect-ratio: 1;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(45, 24, 24);
    user-select: none;
    font-size: 1.5rem;
}

.activeButton {
    transform: translateY(5px) translateX(5px);
    box-shadow: none !important;
}