* {
    padding: 0;
    margin: 0;
}

:root {
    --main-background: rgb(235, 235, 235);
    --main-accent: rgb(183, 215, 235);
    
    --header-height: 100px;
    --footer-height: 50px;
}

header {
    background-color: var(--main-accent);
    height: var(--header-height);
}

body {
    background-color: var(--main-background);
    display: flex;
    flex-direction: column;
}

main {
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

footer {
    background-color: var(--main-accent);
    height: var(--footer-height);
}