#footer {
    height: var(--footer-height);
    background-color: var(--accent-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

#footer p {
    font-size: 0.75rem;
}