#header {
    height: var(--header-height);
    background-color: var(--accent-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#header h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}