#resumeContainer {
    display: flex;
    flex-direction: column;

    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    padding: 20px;

    overflow: auto;
    max-height: calc(100% - 40px);
}

#resume {
    
    display: flex;
    flex-direction: column;
    justify-content: stretch;

    --ratio: 75;

    height: calc(11px * var(--ratio));
    width: calc(8.5px * var(--ratio));
    /* 1 inch = 75 px */
    /* 1 inch = 72 pt font */
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

#resumeContent {
    font-weight: 400;
    /* 1pt font = 1 em */
    --pt: calc(0.0138888888px * var(--ratio)); 

    padding: calc(var(--ratio) * 0.5px);
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#resumeContent * {
    line-height: 115%;
    font-family: 'Times New Roman', Times, serif;
}

#resumeContent h1 {
    font-size: calc(22 * var(--pt));
    font-weight: 700;
}

#resumeContent h2 {
    font-size: calc(12 * var(--pt));
    font-weight: 700;
}

#resumeContent h3 {
    font-size: calc(12 * var(--pt));
}

#resumeContent p {
    font-size: calc(12 * var(--pt));
}

.contactInfo {
    display: flex;
    gap: 10px;
}

.twoItemLine {
    display: flex;
    justify-content: space-between;
}

#educationItems, #experienceItems {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.companyName {
    font-style: italic;
}

@media screen and (max-width: 1280px) {
    #resume {
        --ratio: 50;
    }
}

