
* {
    --darkPurple: #313960;
    --accentTan: #92746E;

    --lightGray: #d7dbdc;
    --mediumGray: #bec5c7;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    font-size: 48px;
}

.header {
    
    background-color: var(--darkPurple);
    color: var(--lightGray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 200px;
}

.headerLinks {
    display: flex;
    gap: 16px;
}

.body {
    display: flex;
    flex-direction: column;
    background-color: var(--lightGray);
    color: var(--darkPurple);
}

.hero {
    background-color: var(--darkPurple);
    color: var(--lightGray);
    padding: 80px 200px;
}

.heroContent {
    display: flex;
    gap: 100px;
}

.heroText {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.heroImage {
    background-color: var(--lightGray);
    width: 100%;
    height: auto;
}

.info {
    padding: 80px 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.info h2 {
    text-align: center;
}

.cardContainer {
    display: flex;
    gap: 40px;
}

.cardContainer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.cardImage {
    padding: 100px;
    background-color: gray;
    border: solid 2px black;
    border-radius: 10px;
}

.quote {
    background-color: var(--mediumGray);
    color: var(--darkPurple);
    padding: 80px 400px;
}

.quoteText {
    font-style: italic;
    font-size: 40px;
}

.quoteName {
    font-size: 30px;
    text-align: right;
    font-weight: bold;
}

.action {
    padding: 80px 200px;
}

.actionWidget {
    background-color: var(--accentTan);
    color: var(--lightGray);
    border-radius: 20px;
    padding: 40px 160px;
    display: flex;
    justify-content: space-between;
}

.actionText {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer {
    padding: 20px 200px;
    display: flex;
    justify-content: center;
    background-color: var(--darkPurple);
    color: white;
}