* {
    padding: 0;
    margin: 0;
}

:root {
    --main-background: rgb(233, 236, 255);
    --secondary-background: rgb(74, 96, 192);

    --header-height: 80px;
    --footer-height: 80px;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    height: var(--header-height);
    background-color: var(--secondary-background);
}

main {
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    background-color: var(--main-background);
}

footer {
    height: var(--footer-height);
    background-color: var(--secondary-background);
}